/* ( --- Start of sample_project.css --- ) */
/* ( --- A sample project-specific CSS file for Lwarp --- ) */

/* Uncomment one of the following: */
@import url("lwarp.css") ;
/* @import url("lwarp_formal.css") ; */
/* @import url("lwarp_sagebrush.css") ; */

/* Project-specific CSS setting follow here. */
/* . . . */

/* To use paragraph indents, uncomment the following: */
/*
body p {
    text-indent: 2em ;
    margin-bottom: 0ex ;
    margin-top: 0ex ;
}
*/

/* ( --- End of sample_project.css --- ) */
